.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; 
    width: 100%;
    margin: 0 auto;
    
    
    
}

.item1{
    border: 5px red solid;
    margin: 0 auto;
}

.title-offer{
    text-align: center;
    margin: 0 auto;
    color:red;
    text-decoration: underline;
}