.no-products {
  text-align: center;
  margin-top: 2rem;
  color: red;
}

.cart-list {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
  gap: 20px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  border: 2px #000 solid;
  gap: 30px;
  height: 110px;
  justify-content: space-between;
}
.removebtn {
  width: 50px;
  height: 30px;
  background: none;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.removebtn:hover {
  background: none;
  text-decoration: underline;
}
.confirmation-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15px;
  gap: 10px;
}
.cleatbtn {
  background: rgb(175, 8, 8);
  width: 150px;
  margin: 0 auto;
}

.cleatbtn:hover {
  background: red;
}
.TotalPrice {
  margin: 0 auto;
  text-align: right;
}
.buybtn {
  background: rgb(21, 8, 214);
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

.cart-item > *:not(:first-child) {
  align-self: center;
}

.cart-item > p {
  margin-top: 10px;
}

.product-price-cart {
  font-size: 1.3rem;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  max-width: 600px;
}

.modal-content input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.modal-content button {
  padding: 10px 20px;
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
}

.modal-content .confirm-button {
  background-color: green;
  color: white;
  border: none;
}

.modal-content .confirm-button:hover {
  background-color: darkgreen;
}

.modal-content .cancel-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-content .cancel-button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  .cart-list {
    width: 390px;
  }
  .cart-item {
    height: 450px;
    width: 300px;
    flex-direction: column;
    background-color: rgb(243, 219, 219);
    border: none;
    align-items: center;
    justify-content: space-around;
  }
  .item-name {
    font-size: 1.6rem;
  }
  .image-product {
    width: 150px !important;
    border: 1px #000 solid;
    padding: 10px;
    float: right;
  }
  .modal-content {
    width: 300px;
  }
}
