.title{
     margin-left: 20vw;
     margin-top: 20px;
     margin-bottom: 20px;
     font-family: Arial, Helvetica, sans-serif;
   
   
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; 
    height:100px;   
    border: 2px solid rgb(116, 108, 108);
    background-color: rgb(48, 48, 231);
    line-height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    
}
.navbar > *{
    width: 20px;
}

.link{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; 
    flex:16%;
    text-align: center;

    
}

.link:hover{
    color: rgb(56, 169, 235);
    border: 2px #25a4ee solid;

}

@media screen and (max-width: 768px) {
    .title{
        margin-left: 0vw;
    }
    .navbar {
        max-width: 200%;
        font-size: 14px;
    }
    .container {
        width: 90%; 
    }
}


@media (max-width: 600px) {
    .navbar {
        position: relative;
        height: 80px;
        
    }
    .link{
        font-size: 10px;
    }
}


