.title{
     margin-left: 20vw;
     margin-top: 20px;
     margin-bottom: 20px;
     font-family: Arial, Helvetica, sans-serif;
   
   
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    max-width: var(--max-width);  
    height:100px;   
    border: 2px solid rgb(116, 108, 108);
    background-color: rgb(48, 48, 231);
    line-height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    
}
.navbar > *{
    width: 20px;
}

.link{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; 

    flex:16%;
    text-align: center;

    
}

.link:hover{
    color: rgb(56, 169, 235);
    border: 2px #25a4ee solid;

}

@media screen and (max-width: 768px) {
    .title{
        margin-left: 0vw;
    }
    .navbar {
        width: 100vw; /* Adicionado ponto e vírgula */
        font-size: 14px; /* Define o tamanho da fonte do corpo para 14 pixels em telas menores que 768 pixels de largura */
    }
    .container {
        width: 90%; /* Define a largura do container para 90% da largura da tela em telas menores que 768 pixels de largura */
    }
}
